<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>The Wall</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/">The Wall</a>
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <div class="ml-auto">
                <ul>
                    <li class="nav-item float-right">
                        <a class="nav-link text-white float-right" href="/signin">Sign in</a>
                    </li>
                </ul>  
            </div> 
        </nav>
        <div class="container mx-auto mt-5">
            <div class="jumbotron mx-auto">
                <div class="container text-center">
                    <h2>Welcome to The Wall</h2>
                    <a href="/register" class="btn btn-info mt-3" role="button">Start</a>
                </div>
            </div>
        </div>
        <div class="container row mx-auto">
            <div class="container col-4">
                <h4>Manage Users</h4>
                <p>By using this application, you'll learn how to add, remove, and edit users for the application</p>
            </div>
            <div class="container col-4">
                <h4>Leave Messages</h4>
                <p>Users will be able to leave a message to another user</p>
            </div>
            <div class="container col-4">
                <h4>Edit User Information</h4>
                <p>Admins can edit another user's information (email address, first name, last name, etc.)</p>
            </div>
        </div>
    </div>
</body>
</html>